/* скидання браузерних стилів */
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ol,
ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

image {
  display: block;
}
/* ---------------- */

body {
  margin: 0;
  background-color: #e5e5e5;
  padding: 40px;
  font-family: 'Roboto', sans-serif;
}

main {
  background-color: white;
  width: 1920px;
  height: 1080px;
}

section {
  margin-inline: 480px;
}

/* ----------header----------- */

.header {
  display: flex;
  flex-direction: row;
  padding: 25px;
  justify-content: space-between;
  align-items: center;
  width: 960px;
  height: 74px;
  background: #ffffff;
  border-bottom: 1px solid #dee2e6;
}
.logo {
  color: white;
  text-decoration: none;
  width: 24px;
  height: 24px;
}

.txt-logo {
  border: #563d7c;
  border-radius: 20%;
  background: #563d7c;
  padding: 3px 8px;
  font-family: 'Roboto', sans-serif;
  font-size: large;
}

.nav-page {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav-page-txt {
  margin: 10px;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #343a40;
}

/* -----hero---- */

.hero-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.title-hero {
  display: flex;
  font-style: normal;
  font-weight: 500;
  font-size: 56px;
  line-height: 66px;
  align-items: center;
  text-align: center;
  color: #212529;
  justify-content: center;
  margin: 0 392px 12px 392px;
}
.txt-hero {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #212529;
  margin-inline: 188px;
}

/* ------cards------- */

.main-card {
  margin: 80px 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 24px;
  width: 960px;
}
.card-one {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 4px;
}

.card-name {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  width: 302px;
  height: 53px;
  background: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 3px 3px 0px 0px;
}

.card-price {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 69px;
  gap: 6px;
  margin: 24px;
  width: 254px;
  height: 47px;
}

.price {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #212529;
}

.month {
  font-style: normal;
  font-weight: 400;
  font-size: 29px;
  line-height: 34px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #6c757d;
}
.card-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 55px;
  gap: 12px;
  margin: 0 24px 24px 24px;
  width: 254px;
  height: 111px;
}
.item {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  display: flex;
  align-items: center;
  text-align: center;
  color: #212529;
}
.card-butn {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 248px;
  height: 40px;
  padding: 9px;
  background: #007bff;
  border: 1px solid #007bff;
  border-radius: 5px;
  margin: 24px 24px;
}

.text-butn {
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

/* ----------footer------------ */

.footer-card {
  display: flex;
  flex-direction: row;
}

.footer-items {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px 24px;
  gap: 10px;
  width: 960px;
  height: 188px;
  border-top: 1px solid #dee2e6;
}

.footer-name {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  color: #212529;
}

.footer-item {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #6c757d;
  text-decoration: none;
}