<main>
    
    <section class="page-two">
    {{>nav}} 
    {{#with page}}
    <h1 class="example" hidden>{{title}} </h1>
    {{/with}}
</div>

{{>header}}
<br>


<br>
{{>footer}}
</section>
</main>