<div class="header">
    <div class="nav-logo">
        <nav >
            <a href="" class="logo"> <span class="txt-logo">B</span>  </a> 
        </nav>
    </div>

    <div  class="nav-page">
        <nav>
        {{#each header}}    
            <a href="{{url}}" class="nav-page-txt">{{text}} </a> 
        {{/each}}
        </nav>
    </div>
</div>