<nav>
  {{>link text="start" href="/" line=true }}
 {{>link text="page-css1" href="/template-1" line=true }}
 {{>link text="page-css2" href="/template-2" line=true }}
 {{>link text="page-css3" href="/template-3" line=true }}
 {{>link text="page-css4" href="/template-4" line=false }}
</nav>